<!-- Main Content Area & Action Bars -->
<div class="flex layout vertical" style="min-width:0px; min-height:0px;">

    <!-- Main Content -->
    <div class="flex layout vertical" style="padding: 0; overflow-y:auto;">
        <px-card-container setvertical="(max-width: 1600px)" horizontal>
            <px-card-container horizontal>

                <px-card>
                    <px-actionbar autosize>
                        <px-title><h1>TimeSeries Data</h1></px-title>
                    </px-actionbar>
                    <px-row selectable>
                        <px-column>
                            <px-title>
                                <h1 style="color:red">{{timeseries.errorMsg}}</h1>
                            </px-title>
                        </px-column>
                    </px-row>
                    <px-row>
                        <px-column>
                            <px-title>
                                <h1>Start Date:</h1>
                            </px-title>
                        </px-column>
                        <px-column>
                            <px-input style="width:200px;" type="text" name="startDate" ng-model="timeseries.startDate" ></px-input>
                        </px-column>
                        <px-column></px-column>
                        <px-column>
                            <px-title>
                                <h1>End Date:</h1>
                            </px-title>
                        </px-column>
                        <px-column>
                            <px-input style="width:200px;" type="text" name="endDate" ng-model="timeseries.endDate" ></px-input>
                        </px-column>
                        <px-column></px-column>
                        <px-column>
                            <px-title>
                                <h1>Channels:</h1>
                            </px-title>
                        </px-column>
                        <px-column>
                            <!--Channel Model-->
                            <select id='channelDropdown' style="width:200px; line-height:30px; height:30px;" ng-model="timeseries.channelMeta">
                                <option ng-repeat="channel in timeseries.channels" value="{{channel}}">{{timeseries._getChannelName(channel)}}</option>
                            </select>
                        </px-column>
                        <px-column></px-column>
                        <px-column>
                            <px-button style="width:200px; position:center;" ng-click="timeseries.getTimeSeriesData()" ng-disabled="timeseries._disableOnAuthentication()">Get TimeSeries Data</px-button>
                        </px-column>
                        <px-column></px-column>
                    </px-row>
                  
				  <px-row>
						<px-column><b>Time</b></px-column>
						<px-column><b>Value</b></px-column>
						<px-column><b>Channel Name</b></px-column>
				  </px-row>
				     
				  <px-row ng-repeat="item in timeseries.timeseriesData">
						<px-column>{{item.time*1000| date : 'medium'}}</px-column>
						<px-column>{{item.value|number:3}}</px-column>
						<px-column>{{item.channel}}</px-column>
				  </px-row>
                 <!--   <table >
                        <tr>
                            <td style="width:500px; padding-left:1.5em">Time</td>
                            <td style="width:500px;">Value</td>
                            <td style="width:500px;">Channel Name</td>
                        </tr> 
                        <tr ng-repeat="item in timeseries.timeseriesData">
                            <td style="border:none;width:500px; padding-left:1.5em">{{item.time*1000| date : 'medium'}}</td>
                            <td style="border:none;width:500px;">{{item.value|number:3}}</td>
                            <td style="border:none;width:500px;">{{item.channel}}</td>
                        </tr>
                    </table>
					-->
                </px-card>
            </px-card-container>

        </px-card-container>


    </div>
</div>


