
<px-navigation-container drawer>
        <px-navigation extra >
            <span class="flex"></span>
               <px-tab icon="px-icons:oneline" ><a href="./#/realtime" style="color:white; border-bottom:none">Realtime</a></px-tab>
            <px-tab icon="px-icons:trend" ng-class="timeseries.activeTab('timeseries')"><a href="./#/timeseries" style="color:white;border-bottom:none">TimeSeries</a></px-tab>
            <px-tab icon="px-icons:command" ><a href="./#/command" style="color:white;border-bottom:none">Command</a></px-tab>
            <px-tab>{{username}}</px-tab>
            <px-tab ng-click="timeseries.logout()">Log Out</px-tab>
            <px-tab style="width:60px;height:20px">
                <svg viewBox="0 0 60 16" x="0" y="0" height="18px" fill="#f3f3f3">
                    <path class="icon-eaton" d="M19.1,3.1l1.4,5.2h-3L19.1,3.1z M16.5,11.9l-1.3,4.3h7.6l-1.2-4.3H16.5z M36.4,0H21.8v4.6h4.6v11.5h7.4
                        c-0.5-0.3-3.6-2.8-3.6-7.5C30.2,4.8,32.6,1,36.4,0 M38.9,12c1.7,0,3.1-1.4,3.1-3.2c0-1.8-1.3-3.4-3-3.4c-1.8,0-3.1,1.6-3.1,3.4
                        C35.9,10.6,37.2,12,38.9,12 M54.3,10.1L51.3,0h-7.6v16.1h4.7V6h0l2.9,10.1h7.7V0h-4.8L54.3,10.1L54.3,10.1z M9.2,16.1l1.4-4.5H5.5
                        v-1.4H11l1.3-4.3H5.5V4.6h7.2L14.1,0H0v16.1H9.2z" />
                </svg>
            </px-tab>
        </px-navigation>

        <!-- Primary Navigation -->
      <px-navigation style="height:30px">

            </px-navigation>
    </px-navigation-container>
<div class="content layout horizontal">

<!-- Main Content Area & Action Bars -->
<div class="flex layout vertical" style="min-width:0px; min-height:0px; overflow-y:auto;height:90vh">

    <!-- Main Content -->

        <px-card-container setvertical="(max-width: 1600px)" horizontal ng-init="timeseries.init()">
                <px-card>
                    <px-actionbar autosize>
                        <px-title><h1>TimeSeries Data</h1></px-title>
                    </px-actionbar>
                    <px-row selectable>
                        <px-column>
                              <span class="px-error" ng-if="hasError"><i class="material-icons" style="color:red;font-size:14px;">&#xe002;</i> {{errorMsg}}</span>
                        </px-column>
                    </px-row>
                    <px-row style="overflow:hidden">
                        <px-column>
                          Start Date:

                        </px-column>
                        <px-column>
                            <px-input style="width:150px;" type="text" name="startDate" ng-model="startDate" ></px-input>
                        </px-column>
                        <px-column></px-column>
                        <px-column>

                                End Date:

                        </px-column>
                        <px-column>
                            <px-input style="width:150px;" type="text" name="endDate" ng-model="endDate" ></px-input>
                        </px-column>
                        <px-column></px-column>
                        <px-column>
                          Channels:
                        </px-column>
                        <px-column>
                            <!--Channel Model-->
                            <select id='channelDropdown' style="width:150px; line-height:30px; height:30px;" ng-model="channelMeta" ng-options="channel for channel in channels">
                                <!--<option ng-repeat="channel in channels" value="{{channel}}">{{channel}}</option>-->
                            </select>
                        </px-column>
                        <px-column></px-column>
                        <px-column>
                            <px-button style="width:100px; position:center;" ng-click="timeseries.getTimeSeriesData()" ng-disabled="_disableOnAuthentication()"><i class="material-icons">&#xe86c;</i></px-button>
                        </px-column>
                        <px-column></px-column>
                    </px-row>

				  <px-row>
						<px-column><b>Time</b></px-column>
						<px-column><b>Value</b></px-column>

				  </px-row>

				  <px-row ng-repeat="item in timeseriesData">
						<px-column>{{item.time| date : 'medium'}}</px-column>
						<px-column>{{item.value|number:3}}</px-column>

				  </px-row>

                </px-card>

        </px-card-container>


    </div>
</div>
